


 
<div style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="active" class="card" style="max-width:9em;">
  <div class="card-header">
<h4 class = "">{{item.name}}</h4>
                    <p class = "">{{item.description}}</p>  </div>

  <img class="card-img-top img-responsive" src = {{item.imagePath}}  alt="Card image top" >
  <div class="card-body">
      <p class="card-text">A Card with a top and bottom images</p>

  </div>

  <div class="card-footer">
          This is a footer
  </div>
</div>

