
.html{
  font-size:10em;
}
.list-clothing {
    display: flex;
    flex-wrap: wrap;
    /* padding: 5px; */
         justify-content: flex-start; 

}

.list-item-clothing{
     margin-right: 40px; 
     margin-top:12px;
    /* margin-left: 30px;
     margin-right:30px; */
     /* padding-left: 10px; */

}

.list-item-clothing:last-child {
  flex-grow: 10;
}