
<div class = "container">
  <div class="row mt-5">
        <div class="col-12">
      <button class = "btn btn-success" (click)="onNewClothing()">New Clothes</button>
        </div>
    </div>

    <hr>

  <div class="row"> 
    <div class= " col-12">
      <div class = "list-clothing">


        <app-clothing-item style = "cursor:pointer"  class = "list-item-clothing" 
      *ngFor="let item of clothing; let i = index"
     [item]="item"
      [index]="i"></app-clothing-item>
      </div>
  </div>
  </div>

