
<div class = "container">
  <div class="row mt-5">
        <div class="col-12">
      <button class = "btn btn-success">New Clothes</button>
        </div>
    </div>

    <hr>


<!-- <div class="container">
  <div class="row mt-5">
    
    <div class="col-xs-12">
       <app-clothing-item></app-clothing-item>

      <a href ="#"
        class = "list-group-item"
      >
      </a>
        </div>
    </div>
  </div> -->



  <div class="row">
    <div class="col-12">
    <hr>
       <app-clothing-item *ngFor = "let item of clothing" 
       [item]="item"></app-clothing-item>
  </div>
</div>

</div>


        <div class="container">
            <div class="gallery">
                <figure class="gallery__item gallery__item--1">
                    <img src="img/image-1.jpg" alt="Gallery image 1" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--2">
                    <img src="img/image-2.jpg" alt="Gallery image 2" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--3">
                    <img src="img/image-3.jpg" alt="Gallery image 3" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--4">
                    <img src="img/image-4.jpg" alt="Gallery image 4" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--5">
                    <img src="img/image-5.jpg" alt="Gallery image 5" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--6">
                    <img src="img/image-6.jpg" alt="Gallery image 6" class="gallery__img">
                </figure>
            </div>
        </div>