/* Add application styles & imports to this file! */
@import "~bootstrap/dist/css/bootstrap.min.css";
* {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}

@import url('https://unpkg.com/bootstrap@5.1.7/dist/css/bootstrap.min.css')


mat-dialog-container#modal-component {
    border: 3px solid #262626;
    border-radius: 11px;
    background-color: #000000;
    
}

